<h1>Not Found</h1>
<h2>404</h2>
<pre>NotFoundError: Not Found
    at D:\4thYear_1stSem\WebDevelopment\taskmanagement\app.js:45:8
    at Layer.handle [as handle_request] (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\layer.js:95:5)
    at trim_prefix (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:317:13)
    at D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:284:7
    at Function.process_params (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:335:12)
    at next (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:275:10)
    at D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:635:15
    at next (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:260:14)
    at Function.handle (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:174:3)
    at router (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:47:12)
    at Layer.handle [as handle_request] (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\layer.js:95:5)
    at trim_prefix (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:317:13)
    at D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:284:7
    at Function.process_params (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:335:12)
    at next (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\express\lib\router\index.js:275:10)
    at serveStatic (D:\4thYear_1stSem\WebDevelopment\taskmanagement\node_modules\serve-static\index.js:75:16)</pre>
